:root {
  --light: #F8F8F8;
  --dark: #252525;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-text1{
  background-image: url(./assets/banner-1.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
}
.bg-text2{
  background-image: url(./assets/banner-2.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.feature{
  border-left: #e4b723 2px solid;
}

.foot{
  border-top: #F8F8F8 2px solid;
}

.navs:hover{
  background: #e2ddcd;
}